#login{
    background-color: rgb(127, 255, 255);
    padding: 10px;
}
#form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input,button{
width: 50%;
height: 45px;
border-radius: 3px;
border: none;
background-color: rgb(243, 236, 228);
}
button{
    background-color: rgb(214, 141, 72);
   box-shadow: 5px 5px 5px  rgb(220, 43, 57); 
}
button:hover{
    background-color: rgb(208, 129, 212);  
    zoom: 105%;
}
button:active{
    background-color: rgb(105, 98, 98);
}
input{
    border-bottom: 2px solid rgb(223, 99, 99);
    font-size: .45cm;
    
}
input:focus{
    outline: none;  
    border-bottom: 2px solid rgb(114, 85, 85);
}
#para{
    text-align: center;
}
a{
    margin: 5px;
    font-size: .4cm;
    font-style: italic;
    color: black;
}
a:hover{
    color: rgb(255, 0, 38);
    font-size: .43cm;
}

